html{
    background-color: rgb(0, 71, 0);

}



.hand{
    background-color: rgba(84, 158, 15, 0.74);
    height: 120px;
    width: 100%;
    border-radius: 80px;
    font: white;
    
}

label{
    padding-right: 900px;
    color: rgb(245, 184, 30);
}

button{
    background-color: rgb(245, 184, 30);
    border-radius: 80px;
}
