html{
    background-color: rgb(0, 71, 0);

}

* {
    box-sizing: border-box;
}


#table {
    padding: 80px 50px;
    border: 4px solid #6b4200;
    border-radius: 40px;
    background: linear-gradient(#6aac28 0%, #50831a 40%, #3a6d01 100%) no-repeat no-repeat;
}

.hand{
    background-color: rgba(55, 105, 8, 0.74);
    height: 110px;
    padding:10px;
    border-radius: 80px;
    margin-bottom: 10px;
    
}

.hand label{
    float: left;
    margin: 0 5px;
    color: rgb(245, 184, 30);
}

label{
    color: rgb(245, 184, 30);
}

.hand img {
    width: 57px;
    display: block;
    float: left;
    margin-left: 5px;
}


#messages {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
    height: 2em;
}

.buttons {
    text-align: center;
}
    

.buttons button {
    background-color: rgb(245, 184, 30);
    border-radius: 80px;
    padding: 5px 10px;
}

.card{
    height: 85%;
}

